<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @tutorinfo.object %>
    <h1>Edit <%= @tutorinfo.name%></h1>
    <%= link_to "Delete", :action => :delete, :id => @tutorinfo.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @tutorinfo.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">Name: </td>
              <td class="itemValue"><input type="text" name="tutorinfo[name]" value="<%= @tutorinfo.name %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Zip: </td>
              <td class="itemValue"><input type="text" name="tutorinfo[zip]" value="<%= @tutorinfo.zip %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Subjects: </td>
              <td class="itemValue"><input type="text" name="tutorinfo[subjects]" value="<%= @tutorinfo.subjects %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
